<div>
<div class="form-div">
    <p style="color:darkblue;background-color:white;text-align:center;"><b>Search Log</b></p>
    <form  action="/data" method="GET">
        <label class="input-heading">
             Level :
            <input class="input-block" type="search" name="level"  placeholder="level" >
        </label>
        <br><br>
        <label class="input-heading">
            Message : 
            <input class="input-block" type="search" name="message"  placeholder="message" >
        </label>
        <br><br>
        <label class="input-heading">
            ResourceId :
           <input class="input-block" type="search" name="resourceId"  placeholder="resourceId" >
       </label>
       <br><br>
       <label class="input-heading">
           timestamp : 
           <input class="input-block" type="search" name="timestamp"  placeholder="timeStamp" >
       </label>
       <br><br>
       <label class="input-heading">
        traceId :
       <input class="input-block" type="search" name="traceId"  placeholder="traceId" >
   </label>
   <br><br>
   <label class="input-heading">
       spanId : 
       <input class="input-block" type="search" name="spandId"  placeholder="spandId" >
   </label>
   <br></br>
   <label class="input-heading">
    Commit : 
    <input class="input-block" type="search" name="commit"  placeholder="Commit" >
</label>
<br><br>
<label class="input-heading">
 Metadata.parentResourceId :
<input class="input-block" type="search" name="metadata"  placeholder="metadata" >
</label>
<br><br>
       <div class="button-div">
          
           <input class="button" type="submit" value="submit" />
       </div>
       <br>
       <!-- <p style="color:black;text-align:justify;">By sign-up you agree <a href="#" style="text-decoration:none;">Terms&conditions</a></p> -->
    </form>
</div>
</div>